.newrelease-card {
  background-color: white;
  width: 20vw;
  height: 65vh;
  border: 5px solid lightpink;
  &:hover {
    transition: all 1s;
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 1rem;
  }
}
.newrelease-card h1 {
  color: rgb(36, 67, 221);
  margin-top: 1vh;
  text-align: center;
  height: 10vh;
}
.newrelease-card h3 {
  font-weight: 600;
  padding-left: 0.3vw;
  text-align: center;
  margin-top: 1.5vh;
}
.rating-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  font-size: 1.3rem;
}

.rating-price span:nth-of-type(1) {
  color: goldenrod;
}
.newrelease-image {
  box-shadow: 0 0 10px 10px rgb(128, 128, 128, 0.5) inset;
  display: flex;
  height: 35vh;
  justify-content: center;
  align-items: center;
}
.newrelease-card img {
  width: 8vw;
}
.newrelease-heading h1 {
  display: flex;
  justify-content: center;
  margin-top: 11vh;
  color: white;
  text-decoration: underline;
}
.view-more {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
.view-more a {
  text-decoration: none;
  box-shadow: 0 0 4px 4px lightgray;
  padding: 0.5rem;
  &:hover {
    color: red;
  }
}
.newrelease-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
  padding: 3rem;
}
@media (max-width: 890px) {
  .newrelease-card {
    width: 50vw;
    height: 50vh;
  }
  .newrelease-card h3 {
    margin-top: -5vh;
  }
}
